<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>Welcome to FlaskTaskr!!!</title>
		<!-- styles -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
	</head>

	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">FlaskTaskr</a>
				</div>
				<ul class="nav navbar-nav">
					{% if session.logged_in %}
						<li><a href="/tasks/">Tasks</a></li>
						<li><a href="/directions/">Directions</a></li>
					{% endif %}
					{% if session.role == 'admin' %}
						<li><a href="/users/">Users</a></li>
					{% endif %}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if session.logged_in %}
						<li><a>Welcome, {{session.username}}!</a></li>
						<li><a href="/logout/">Sign out</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="content">
				<br>
				<br>
				<br>
				<br>
				{% for message in get_flashed_messages() %}
					<div class="alert alert-success">{{message}}</div>
				{% endfor %}
				{% if error %}
					<div class="error"><strong>Error: </strong>{{error}}</div>
				{% endif %}
				{% block content %}
				{% endblock %}
			</div>
			<div class="footer">
				<hr>
				<p>&copy; <a href="https://www.realpython.com">Real Python</a></p>
			</div>
		</div>
		<!-- scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	</body>
</html>
